.main-container {
  width: 100%;
  overflow: hidden;
}
body.modal-open{
  position: relative;
  .slides-module-container.pb-slider::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
  }
}
#main {
  display: block;
  position: relative;
  z-index: 11;
}

//background-colors
//brand pallet
.brand-dark-blue {
  background: $brand-dark-blue;
}
.brand-primary-blue {
  background: $brand-primary-blue;
}
.brand-main-blue {
  background: $brand-main-blue;
}
.brand-dark-base {
  background: $brand-dark-base;
}
.brand-dark-background {
  background: $brand-dark-background;
}
//ui colors
.ui-text-black {
  background: $ui-text-black;
}
.ui-dark-grey {
  background: $ui-dark-grey;
}
.ui-light-grey {
  background: $ui-light-grey;
}
.ui-error-red {
  background: $ui-error-red;
}
.ui-warning-yellow {
  background: $ui-warning-yellow;
}
.ui-success-green {
  background: $ui-success-green;
}

//color: color
//brand pallet
.color-brand-dark-blue {
  color: $brand-dark-blue;
}
.color-brand-primary-blue {
  color: $brand-primary-blue;
}
.color-brand-main-blue {
  color: $brand-main-blue;
}
.color-brand-dark-base {
  color: $brand-dark-base;
}
.color-brand-dark-background {
  color: $brand-dark-background;
}
//ui colors
.color-ui-text-black {
  color: $ui-text-black;
}
.color-ui-error-red {
  color: $ui-error-red;
}
.color-ui-warning-yellow {
  color: $ui-warning-yellow;
}
.color-ui-success-green {
  color: $ui-success-green;
}
// accent colors
.background-color-pink {
  background: $color-pink;
}
.background-color-orange {
  background: $color-orange;
}
.background-color-yellow {
  background: $color-yellow;
}
.background-color-blue {
  background: $color-blue;
}
.background-color-teal {
  background: $color-teal;
}
.background-color-green {
  background: $color-green;
}
.background-color-slate {
  background: $color-slate;
}
//color
// accent colors
.color-pink {
  color: $color-pink;
}
.color-orange {
  color: $color-orange;
}
.color-yellow {
  color: $color-yellow;
}
.color-blue {
  color: $color-blue;
}
.color-teal {
  color: $color-teal;
}
.color-green {
  color: $color-green;
}
.color-slate {
  color: $color-slate;
}

//verticle center add
.vertical-center {
  min-height: 21%;
  min-height: 21vh;

  display: flex;
  align-items: center;
}

.chevron-forward {
  //overflow: hidden;
  &:before {
    display: block;
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: -56%;
    width: 100%;
    background: #fff;
    transform: skew(-15deg);
    transform: 0.5s all ease;
  }
}

body.side-decal {
  background-image: url(../images/DEMO/decals/decal-left.png),
    url(../images/DEMO/decals/decal-right.png);
  background-repeat: repeat-y;
  background-position: left, right;
  background-size: 9%;
}

.btn-container {
  height: 48px;
  background-color: #0072ce;
  display: inline-block;
  width: auto;
  .btn-primary {
    padding: 14px 32px 15px;
    color: #fff;
    display: block;
    line-height: 22px;
    text-decoration: none;
    @include font-size(1.4);
  }
  &:hover {
    background-color: #1e70ce;
    .btn-primary {
      text-decoration: underline;
      text-decoration-color: white;
    }
  }
}
