* {
  font-family: "avenir-roman", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002d72; // $header-text-blue
  font-family: $heading-font-family;
  font-weight: normal;
}

h1 {
  //font-size:32px;
  font-weight: normal;
  font-family: $heading-font-family;
  margin-bottom: 32px;
  color: #002d72;
  font-size: 32px;
  line-height: 42px;
  @include font-size(3.2);
}
h2 {
  //font-size:32px;
  line-height: 1.1em;
  font-weight: normal;
  color: #002d72;
  margin-bottom: 32px;
  font-family: "avenir-roman";
  @include font-size(2.6);
  font-size: 26px;
  line-height: 32px;
}
h3 {
  line-height: 1.15em;
  font-weight: normal;
  color: #002d72;
  font-size: 18px;
  @include font-size(1.8);
  font-family: $heading-font-family;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
h4 {
  // font-size:25px;
  @include font-size(1.8);
  line-height: 28px;
  color: $ui-text-black;
  font-weight: normal;
  margin-bottom: 32px;
  font-family: $heading-font-family;
  @include mobile {
    // font-size: 18px;
    // @include font-size(2.0);
  }
}
h5 {
  // font-size:24px;
  @include font-size(1.68);
  color: $ui-text-black;
  font-family: $heading-font-family;
  font-weight: normal;
  line-height: 1.25em;
}
h6 {
  @include font-size(1.6);
  color: $ui-text-black;
  font-weight: bold;
  line-height: 1.3em;
}

p {
  color: #53565a;
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 24px;
  @include mobile {
    margin-bottom: 30px;
  }
}

.highlighted {
  color: $color-teal;
}

// Section Title
.section-title {
  margin: 0 0 30px;
}
body {
  // @include font-size(1.6);

  color: #4d4d4d;

  @include mobile {
    //   @include font-size(1.4);
  }
}
html {
  //font-size: 62.5%!important; /* Sets up the Base 10 stuff */
}
//future developer - we stopped using font awesome at the end...
//keep these for backfill
.fa-angle-down {
  background-image: url(../images/icons/icon-angle-down-white.svg);
}
.fa-close {
  background-image: url(../images/icons/icon-close-blue.svg);
  display: block;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
}
.fa-angle-up {
  background-image: url(../images/icons/icon-angle-down-white.svg);
  display: block;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.fa-refresh {
  background-image: url(../images/icons/icon-renewal.svg);
  display: block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.fa-search {
  display: inline-block;
  font-size: 17px;
  background-image: url(../images/icons/icon-search.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  top: 1px;
}
