.text-center {
  text-align: center;
}

.icon-video {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: url(../images/icon-video.png) no-repeat center center;
  position: relative;
  top: 4px;
  padding-left: 5px;
}

.arrow-down {
  svg {
    .chevron {
      transition: all 0.3s ease;
    }
    .line {
      stroke-dashoffset: 62;
      stroke-dasharray: 58;
      transition: all 0.8s ease;
    }
  }
  width: 5%;
  display: block;
  float: none;
  margin: 0 auto;
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
}
