hr {
  border-color: $brand-border-dark;
  margin: 25px 0;

  @include desktop {
    margin: 45px 0;
  }
}

body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;
}

//Bourbon + neat + bitters
#content {
  // padding-top: 90px;
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  max-width: 1172px;
  margin: 0 auto;
  display: block;
}
//END Bourbon

// Block
.block {
  padding: 45px 0;
  width: 100%;

  @include mobile {
    padding: 27px 0;
  }
  .no-padding-top {
    padding-top: 0;
  }
}
.block-grey {
  background-color: $brand-dark-background;
}

.border-grey {
  border: 5px solid $brand-dark-background;
}

.mobile-hide {
  @include mobile-plus {
    display: none;
  }
}
.mobile-only {
  display: block;
  @include tablet-plus {
    display: none;
  }
}

.border-top {
  border-top: 1px solid #d6d6d6;
}

.image-center {
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
}

.d-flex {
  display: flex;
  &.sm-d-block {
    @include mobile {
      display: block;
    }
  }
}
.d-table {
  display: table;
}
.d-flex-sm {
  display: flex;
  @include mobile-plus {
    display: block;
  }
}

// Padding (bottom, top)
.padding-bottom {
  padding-bottom: 45px;
}
.padding-top {
  padding-top: 45px;
}

// No Padding (bottom, top, both)
.no-padding-bottom {
  padding-top: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding {
  padding: 0;
}
