.intro-page {
    background-image: url('../images/header-bg.jpg');
}
.section{
    // background-image:none!important;
}

.menu-wrapper{
    background:#043B4E;
}
.section-title-holder{
    background:#043B4E!important;
}